*{
    padding: 0px;
    margin: 0px;
}

.container{
    display: grid;
    place-content: center;
    margin-top: 300px;


}

div{
    display: grid;
    grid-template-columns:repeat(6, 100%) ;
    grid-template-rows: repeat(6,100%);
    gap: 10px;
    height: 200px;
    width: 200px;
    background-color: greenyellow;
}

